$blackBackground: rgb(0 0 0);
$black: rgb(0 0 0);
$red: rgb(246 108 65);
$banRed: rgb(241 20 20);
$pink: rgb(255 68 180);
$blue: rgb(91 181 255);
$green: #D1F657;
$greenActive: #cef64a;
$beige: #f5f5f5;
$violet: #7c4eff;
$violetActive: #7341fd;
$darkGreyUnderline: #262626;
$mobileOnlyWidth: 420px;
$tabletWidth: 950px;
$desktopWidth: 1440px;

$black100: #171717;
$black80: #1f1f1f;
$black60: #262626;
$black20: #383838;

$gray: #ABABAB;

$firstHeader: 44px;
$secondHeader: 34px;
$firstDescription: 28px;
$secondDescription: 24px;
$firstClarification: 20px;
$firstHeaderMobile: 26px;
$secondHeaderMobile: 22px;
$firstDescriptionMobile: 18px;
$secondDescriptionMobile: 14px;
$firstClarificationMobile: 12px;
