.profileContainer {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 80px;
}

.profile {
  max-width: 840px;
  margin-top: 20px;
}

.title {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
}

.profileMyPage {
  margin-top: 20px;
  border-radius: 10px;
}
