@import "app/styles/variables";

.register {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  row-gap: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  padding: 0 20px;
  padding-bottom: 80px;

  @media (max-width: $mobileOnlyWidth) {
    margin-top: 80px;
  }
}

.title {
  font-size: $secondHeader;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;

  @media (max-width: $mobileOnlyWidth) {
    font-size: 30px;
  }
}

.containerButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 16px;

  @media (max-width: $mobileOnlyWidth) {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}

.linkLogin {
  text-align: center;
  text-decoration: underline;
  transition: 0.2s;

  &:hover {
    color: $violet;
  }
}

.errorText {
  color: $red;
  text-align: center;
}