@import "app/styles/variables";

.switchTab {
  display: flex;
  background: $black100;
  width: max-content;
  margin: 0 auto;
  border-radius: 24px;
  padding: 5px;
}

.tab {
  background: transparent;
  padding: 10px 20px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  border-radius: 24px;
  border: none;
  cursor: pointer;

  @media (max-width: $mobileOnlyWidth) {
    font-size: 12px;
    padding: 6px 14px;
  }
}

.activeTab {
  color: $purple;
  background: #FFFFFF;
}
