@import "app/styles/variables";

.teacherCard {
  position: relative;
  display: grid;
  grid-template-columns: 180px 1fr;
  border-radius: 10px;
  background: $black80;
  column-gap: 30px;
  padding: 10px;
  height: 148px;

  &:hover {
    background: $black60;
  }

  @media (max-width: $tabletWidth) {
    grid-template-columns: 250px 1fr;
    height: auto;
  }

  @media (max-width: $mobileOnlyWidth) {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 20px;

  @media (max-width: $tabletWidth) {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}

.teacherImg {
  display: block;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  max-height: 128px;

  @media (max-width: $tabletWidth) {
    max-height: 260px;
  }

  @media (max-width: $mobileOnlyWidth) {
    object-fit: cover;
    max-height: 260px;
  }
}

.title {
  font-size: 20px;
  margin: 0;
}

.description {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  overflow: hidden;
  height: 40px;
}

.linkDescription {
  color: $violet;
  font-size: 16px;
  line-height: 20px;
}

.conditions {
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
}

.conditionsItem {
  color: $green;
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (max-width: $tabletWidth) {
    margin-top: 8px;
    row-gap: 0;
    justify-content: flex-end;
  }
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  background: $black20;
  padding: 8px;
}

.priceValue {
  color: $violet;
  font-weight: 600;
}

.imgContainer {
  position: relative;
  font-size: 11px;

  @media (max-width: $tabletWidth) {
    font-size: 14px;
  }
}

.statusOGE {
  position: absolute;
  top: 4px;
  right: 4px;
}

.statusEGE {
  position: absolute;
  top: 4px;
  right: 38px;

  @media (max-width: $tabletWidth) {
    right: 44px;
  }
}

.button {
  @media (max-width: $tabletWidth) {
    a {
      background: transparent;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
