@import "app/styles/variables";

.setHomework {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
}

.setSelectHomework {
  display: flex;
  column-gap: 64px;
  justify-content: center;

  @media (max-width: 750px) {
    flex-direction: column;
    row-gap: 64px;
  }
}

.selectHomework {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    right: -60px;
    content: '';
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 50px solid $black80;
    transform: rotate(180deg) translate(0, 50%);
  }

  @media (max-width: 750px) {
    &::before {
      top: auto;
      bottom: -75px;
      right: 50%;
      transform: rotate(-90deg) translate(0, 25px);
    }
  }
}

.actionSetHomework {
  max-width: 300px;
}