@import "app/styles/variables";

.navigation {
  display: flex;
  backdrop-filter: blur(15px);
  background: rgb(77 77 77 / 30%);
  border-radius: 3rem;
  align-items: center;
  bottom: 2rem;
  column-gap: 20px;
  left: 50%;
  padding: 0.7rem 1.7rem;
  position: fixed;
  transform: translateX(-50%);
  width: max-content;
  z-index: 2;
}

.linkNav {
  display: block;
}

.iconNav {
  display: block;
  fill: #fff;
  transition: 0.2s;
}

.activeLink {
  & > svg {
    transform: translateY(-4px);
    fill: $violet;
  }
}

.linkHomework {
  & > svg {
    fill: transparent;
    stroke: #fff;
  }
}

.activeLinkHomework {
  & > svg {
    transform: translateY(-4px);
    stroke: $violet;
  }
}
