@import "app/styles/variables";

.aboutCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  background: $blue;
  border-radius: 24px;
  padding: 26px;
  transition: 0.3s;
  border: 2px solid transparent;
  box-sizing: border-box;

  &:hover {
    background: transparent;
    border: 2px solid $blue;
  }
}

.icon {
  & > svg {
    fill: #fff;
  }
}

.title {
  margin: 0;
  font-size: 18px;
}

.description {
  font-size: 15px;
  text-align: center;
  margin: 0;
  color: rgb(255 255 255 / 60%);
}

.field {
  width: 100%;
  font-size: 15px;
  height: 64px;
  resize: none;
  padding: 4px 8px;
  color: rgb(255 255 255 / 60%);
  background: rgb(255 255 255 / 20%);
  border: none;
  outline: none;
  text-align: center;
}
