@import "app/styles/variables";

.doingHomework {
  margin-top: 48px;
  padding: 0 20px;
}

.doingHomeworkWrapper {
  padding-left: 120px;

  @media (max-width: $tabletWidth) {
    padding: 0;
  }
}

.doingHomeworkTitle {
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  margin: 0;

  @media (max-width: $tabletWidth) {
    font-size: 24px;
  }
}

.questionItem {
  margin-top: 32px;
}

.questionTitle {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $tabletWidth) {
    font-size: 20px;
  }
}

.answerList {
  display: grid;
  grid-template-columns: 400px 400px;
  margin-top: 32px;
  column-gap: 32px;
  row-gap: 16px;
}

.loader {
  display: flex;
  justify-content: center;
  font-size: 42px;
}

.doingHomeworkAction {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  width: 400px;

  @media (max-width: $mobileOnlyWidth) {
    width: 100%;
  }
}

.doingHomeworkPoints {
  padding: 16px;
  border-radius: 10px;
  background: $purple;
  text-align: center;
  font-size: 28px;
  line-height: 130%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @media (max-width: $tabletWidth) {
    font-size: 24px;
  }

  @media (max-width: $mobileOnlyWidth) {
    width: 100%;
  }
}

.questionItemAnswer {
  display: flex;
  align-items: center;
}

.questionItemCloseIcon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.questionItemArrow {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.answerCheckbox {
  flex: 1;

  @media (max-width: $tabletWidth) {
    font-size: 16px;
  }

  & > span {
    width: 20px;
    height: 20px;
  }
}

.answerRadio {
  flex: 1;

  @media (max-width: $tabletWidth) {
    font-size: 16px;
  }

  & > span {
    width: 24px;
    height: 24px;
  }
}

.fieldHomeworkNameDisabled {
  opacity: 0.6;
}

.answerText {
  display: flex;
}
