@import 'app/styles/variables';

.header {
  border-bottom: 1px solid #BBBBBB;
}

.logo {
  width: 140px;
  height: 61px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 20px;
}

.headerNavigation {
  display: flex;
  column-gap: 16px;
  margin: 0;
  list-style: none;
  align-items: center;
  padding: 0 6px 0 0;
}

.linkAuth {
  transition: 0.2s;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    color: $violet;
  }
}

.icon {
  transition: 0.2s;
  fill: #FFFFFF;
  cursor: pointer;

  &:hover {
    fill: $violet;
  }
}
